body
	background #c4c4c4

header 
	.logo
		border 5px solid blue
		
		img
			height 40px
			display inline-block

	.titular
		.titulo
			float right


nav
	background blue
	max-width 100%
	border 5px solid red

