azul = #22BCE0
gris_oscuro = #444

body
	background #e8e8e8e
	color gris_oscuro
	font-family Arial
	font-size 16px

header
	background gris_oscuro
	color white
	padding 0.5em
	position relative
	overflow hidden

	.logo
		border-right 2px solid azul
		width 60px
		float left

		img
			width 52px

	.titular
		margin 0 80px 0 70px
		
		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0

		.filtro
			padding 10px
			text-decoration none
			color white
			
		.publicar
			padding 10px
			text-decoration none
			color white

	.usuario
		float right
		margin-right 4px
		

		.avatar
			display inline-block

			img
				width 70px
				border-radius 50%

		.flechita
			color white
			text-decoration none

.posts
	.post
		.descripcion
			.detalles
				.autor
					a
						text-decoration none
						color black
				.tag
					text-decoration none
					color black					
				
nav
	background azul
	.menu
		margin 0
		li
			display inline-block
			padding 15px 0 15px 0

		li:hover
				background white
			a
				text-decoration none
				padding 15px 20px

.left
	float left

.right
	float right

footer
	background #C3CF3A
	max-widht 100%
	border 1px solid red
	padding 40px


	h3
		text-align center